html {
  background-color: lightgrey;
  color: darkgreen;
  font-family: 'Handlee', cursive;
  position: relative;
}
#salmonpic{
  width: 250px;
  position: absolute;
  left: 210px;
  top:-20px;
}
nav,
nav li a:link,
nav li a:visited,
nav li a.current {
  font-size: 24px;
  color: darkgreen;
  display: inline-block;
  float: left;
  width: 100%;
}
nav li a:hover {
  font-size: 135%;
}
ul {
  list-style-type: none;
}
li{
  display: inline;
}
aside{
  float: right;
  width: 30%;
  display: inline;
  border: solid thin white;
  position:fixed; right: 28px;top: 199px;
}
article{
  width: 70%;
  float: left;
  display: inline;
  border: solid thin white;
}
p{
  padding-left: 10px;
  padding-right: 10px;
}
body{
  position: relative;
  top: 25px;
  top: Center;
  left: 55px;
  width:90%
}
table{
  background-color: lightgreen;
  border: 2px solid white;
  width: 95;
  text-align: center;
  padding: 10px;
}
thead{
  border: darkgreen;
}
#form{
  text-align: center;
  width: 350px;
  height: 156px;
  background-color: lightgreen;
  border: 2px solid white;
  position: relative; top:75px;  left:425px;
}
#contactForm{
  text-align: center;
  width: 500px;
  height: 350px;
  position: relative; left:350px;
  color: black;
}
fieldset{
  background-image: url(images/frosted-cookie.jpg);
  background-size: cover;
}
input{
  margin: 9px;
  position: relative; left: 10px;
}
label{
  font-size: 18px;
  padding: 15px;
}
td{
  padding: 2px;
  font-size: 18px;
}
thead{
  border: 1px solid white;
}
tbody{
  border: 1px solid white;
}
button{
  font-family: 'Handlee', cursive;
  color: darkgreen;
  font-size: 20px;
  background-color: lightgreen;
  border-radius: 4px;
  padding: 12px 28px;
  float: left;
    position: relative;
    top: 50px  ;
    left: 110px;
}
footer{
  position:fixed;bottom:5px;left:0;right:0;height:30px;
  text-align: center;
}
