html {
  background-image: url(images/chocolate_chip_cookies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: darkgreen;
  font-family: 'Handlee', cursive;
}
#salmonpic{
  width: 250px;
  position: absolute;
  left: 210px;
  top:-20px;
}
nav,
nav li a:link,
nav li a:visited,
nav li a.current {
  font-size: 24px;
  color: darkgreen;
  float: left;
  width: 100%;
  padding-bottom: 15px;
  display: inline;
}
nav li a:hover {
  font-size: 135%;
  display: inline;
}
ul {
  list-style-type: none;
}
h2{
  padding-left: 5px;
}
#frosted a img{
  display: block;
  margin: auto;
  position: absolute; top: 0; bottom: 0; right: 0; left: 0;
}
aside{
  background: rgba(90, 249, 92, 0.3);
  float: right;
  width: 30%;
  display: inline;
  border: solid thin white;
  position:relative; bottom: 616px; left: 3px;
  height: 614px;
  font-weight: bolder;
}
article{
  background: rgba(90, 249, 92, 0.5);
  width: 70%;
  float: left;
  display: inline;
  border: solid thin white;
}
.col1,
.col2 {
  padding-left: 40px;
  width: 45%;
  float: left;
}
#shirt{
  width: 300px;
}
p{
  padding-left: 10px;
  padding-right: 10px;
  text-indent: 5em;
  font-weight: bolder;
}
body{
  position: relative;
  top: 25px;
  top: Center;
  left: 55px;
  width: 90%
}
table{
  background: rgba(90, 249, 92, 0.6);
  font-weight: bolder;
  border: 2px solid white;
  width: 95;
  text-align: center;
  padding: 10px;
}
thead{
  border: darkgreen;
}
#form{
  background-image: url(images/fishies.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  width: 350px;
  height: 156px;
  border: 2px solid white;
  color: black;
  position: relative; left: 400px; top: 50px;
}
#contactForm{
  background-image: url(images/family.jpg);
  background-size: cover;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  width: 500px;
  height: 350px;
  position: relative; left:350px;
  color: black;
}
input{
  margin: 9px;
  position: relative; left: 10px;
}
label{
  font-size: 18px;
  padding: 15px;
}
td{
  padding: 2px;
  font-size: 18px;
}
thead{
  border: 1px solid white;
}
tbody{
  border: 1px solid white;
}
button{
  font-family: 'Handlee', cursive;
  font-weight: 900;
  color: darkgreen;
  font-size: 20px;
  background: rgba(90, 249, 92, 0.6);
  border-radius: 4px;
  padding: 12px 28px;
  float: left;
  position: relative; top: 50px; left: 110px;
}
#chinook{
  width: 50px;
}
footer{
  position:fixed;bottom:5px;left:0;right:0;height:30px;
  text-align: center;
}
